{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="main-home">
	<div class="home">
		<form action="/post" method="POST" class="form-home form form-group">
			<label for="post">Post</label>
			<textarea
				class="form-control"
				name="post"
				id="post"
				placeholder="Enter your post"
			>
			</textarea>

			<div class="div-btn">
				<button type="submit" class="btn btn-secondary">
					Send
				</button>
			</div>
		</form>

		<div class="card">
			<div class="card-header">
				Quote
			</div>

			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer">
						Someone famous in <cite title="Source Title">Source Title</cite>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				Quote
			</div>

			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer">
						Someone famous in <cite title="Source Title">Source Title</cite>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				Quote
			</div>

			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer">
						Someone famous in <cite title="Source Title">Source Title</cite>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				Quote
			</div>

			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer">
						Someone famous in <cite title="Source Title">Source Title</cite>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				Quote
			</div>

			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer">
						Someone famous in <cite title="Source Title">Source Title</cite>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				Quote
			</div>

			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer">
						Someone famous in <cite title="Source Title">Source Title</cite>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
{% endblock %}
