{% block nav %}
<nav id="navbar">
	<div class="nav-title">
		<a href="/">
			CS50 social media
		</a>
	</div>

	{% if not session["user_id"]%}
	<div class="nav-notlogin">
		<a href="/login">
			Login
		</a>
		<a href="/register">
			Sign up
		</a>
	</div>
	{% endif %}

	{% if session["user_id"] %}
	<div class="nav-login">
		<a
			class="{{ 'active' if session['page'] == 'home'}}"
			aria-current="page"
			href="/home"
		>
			Home
		</a>

		<a
			class="{{ 'active' if session['page'] == 'profile'}}"
			href="/profile"
		>
			Profile
		</a>

		<a href="/logout">
			Logout
		</a>
	</div>
	{% endif %}
</nav>
{% endblock %}
