{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}
<div class="row justify-content-center">
	<div class="col-md-4">
		<h1>Profile</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Email</th>
					<th scope="col">Name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">{{ id }}</th>
					<td>{{ email }}</td>
					<td>{{ name }}</td>
				</tr>
			</tbody>
		</table>

		<form action="/logout" method="GET">
			<button type="submit" class="btn btn-primary">
				Logout
			</button>
		</form>
	</div>
</div>
{% endblock %}
