{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change-password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="old_password" placeholder="Old password" type="password">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="New password" type="password">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
        </div>

        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
